body {
  font-family:Arial, Helvetica, sans-serif;
  font-size:20px;
  line-height:1.5;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

/* Global */
.container {
  width:80%;
  margin:auto;
  overflow:hidden;
}

h1.page-title {
  font-size:25px;
  color:#273138;
  padding-top:10px;
}

h1.page-title-center {
  font-size:30px;
  color:#273138;
  padding-top:10px;
  text-align: center;
}

ul {
  margin:0;
  padding:0;
}

.gray-background {
  padding:15px;
  background:#e6e6e6;
  font-weight:bold;
  font-size:25px;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header {
  background:#273138;
  color:#ffffff;
  padding-top:30px;
  min-height:90px;
}

header a {
  color:#ffffff;
  text-decoration:none;
  text-transform:uppercase;
  font-size:18px;
}

header li {
  float:left;
  display:inline;
  padding:5px 20px 0 20px;
}

header #branding {
  float:left;
}

header #branding h1 {
  margin:0;
  font-size:35px;
}

header #branding img {
  width:2%;
}

header nav {
  float:right;
  margin-top:10px;
}

header .highlight, header .current a {
  color:#077cff;
  font-weight:bold;
}

header a:hover {
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase {
  min-height:400px;
  background:url('../images/construction.jpg') no-repeat 0 -400px;
  text-align:center;
  color:#ffffff;
  margin-bottom:50px;
}

#showcase h1 {
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
}


/* Boxes */
#boxes {
  margin-top:20px;
}

#boxes .box {
  float:left;
  text-align:center;
  width:30%;
  padding:10px;
}

#boxes .box img {
  width:250px;
}

/* Main-col */
article #main-col {
  float:left;
  width:65%;
}

/* Services */
ul#services li {
  list-style:none;
  padding-top:15px;
  padding-bottom:15px;
  padding-right:15px;
  padding-left:20px;
  border:#cccccc solid 1px;
  margin-right:10px;
  margin-bottom:8px;
  background:#e6e6e6;
  width:45%;
  height:240px;
  float:left;
}

ul#services img {
  width:40%;
  margin-top:20px;
  float:right;
}

/* Footer */
footer {
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  font-size:20px;
  background-color:#077cff;
  text-align:center;
}

#footer-filler {
  background-color:#077cff;
  margin-top:560px;
  height:447px;
  position:absolute;
  top:0;
  left:0;
  width:100%;
}

/* Media Queries */
@media(max-width:768px) {
  header #branding,
  header nav,
  header nav li,
  #boxes .box,
  article #main-col,
  aside #sidebar {
    float:none;
    text-align:center;
    width:100%;
  }

  header {
    padding-bottom:20px;
  }

  #showcase h1 {
    margin-top:40px;
  }

  #footer-filler {
    height:0px;
  }
}
